<footer class="footer py-4 js-page-footer">
  <div class="main">
    {%- assign _site_author = site.author -%}
    {%- if _site_author.type == 'organization' -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Organization' -%}
    {%- else -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Person' -%}
    {%- endif -%}

    <div itemscope itemtype="{{ _site_author_itemtype }}">
      <meta itemprop="name" content="{{ _site_author.name }}">
      {%- assign _site_author_url = _site_author.url | default: '/' -%}
      {%- capture _resolved_author_url %}{% include snippets/get-nav-url.html path=_site_author_url %}{% endcapture -%}
      <meta itemprop="url" content="{{ _resolved_author_url }}">
      {%- if _site_author.bio -%}
        <meta itemprop="description" content="{{ _site_author.bio }}">
      {%- endif -%}

      <div class="footer__author-links">
        {%- include author-links.html author=_site_author -%}
      </div>
    </div>

    <div class="site-info mt-2">
      {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
      <p>
        © {{ site.title }} {{ __return }} —
        Tools for seeing how we think by <a href="https://github.com/jdspiral" target="_blank">Josh Hathcock</a>
      </p>
    </div>
  </div>
</footer>
