/* start custom scss snippet */
ul,
ol {
  padding-left: 1.5rem;  /* restores indentation */
  list-style: disc;      /* shows bullets */
}

li {
  margin-bottom: 0.5rem; /* optional: vertical spacing */
}

p {
    font-size: 16px;
}

a:link {
    text-decoration: underline;
}
/* end custom scss snippet */
